### Q1. Create a list of five integers and print it.

In [1]:
l=[1,2,3,4,5]

print(l)

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [2]:
len(l)

5

### Q3. Create a tuple with three elements and print the second item.

In [6]:
t=(10,22,17)
print(t[1])

22

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [7]:
d= {'fname':'baraa', 'age':21, 'city':'cairo'}
print(d.keys())

dict_keys(['fname', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [9]:
l=[1,2,3,4,5]
set(l)

{1, 2, 3, 4, 5}

### Q6. Create a string and print its first and last characters.

In [10]:
s="My name is baraa...I learn AI"
print(s[0],s[28])

M I

### Q7. Take input from the user and print it.

In [12]:
x=int(input('enter num plz'))
print(x)

18

### Q8. Write a program to add two numbers entered by the user.

In [13]:
n1=int(input('enter num1 plz'))
n2=int(input('enter num2 plz'))
sum=n1+n2
print(sum)

21

### Q9. Use `type()` function to check the data type of a variable.

In [14]:
x=13
y='ahmed'
g=7.7
print(type(x), type(y),type(g))

<class 'int'> <class 'str'> <class 'float'>

### Q10. Create a boolean variable and print it.

In [4]:
bool = 'True'
print(bool)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [20]:
num=int(input('plz enter num'))
if num>0:
    print('The num is positive')
elif num<0:
    print('The num is negative')
else:
    print('The num is zero')

The num is positive

### Q12. Write a program to check if a number is even or odd.

In [22]:
num=int(input('plz enter num'))
if num % 2==0:
    print('even')
else:
    print('odd')

odd

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [23]:
name='Baraa'
for i in range(3):
    print(name)

Baraa
Baraa
Baraa

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Q15. Use a `for` loop to iterate over a list and print each element.

In [28]:
names=['baraa', 'ali','omar']
for i in names:
    print(i)

baraa
ali
omar

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [41]:
sum =0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [38]:
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [42]:
for i in "Amit":
    print(i)

A
m
i
t

### Q19. Use a `for` loop to print all values in a dictionary.

In [44]:
d= {'fname':'baraa', 'age':21, 'city':'cairo'}
d.values()
for value in d.values():
    print(value)

baraa
21
cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [ ]:
num = int(input("Enter num plz"))

fact = 1

for i in range(1, num + 1):
    fact *= i

print(fact)

6

### Q21. Create a list of your 5 favorite fruits.

In [56]:
fruits=['apple','banana','melon','orange','cherry']

### Q22. Add a new fruit to your list of favorite fruits.

In [57]:
fruits.append('peach')
print(fruits)

['apple', 'banana', 'melon', 'orange', 'cherry', 'peach']

### Q23. Remove the second item from a list.

In [58]:
fruits.pop(1)
print(fruits)

['apple', 'melon', 'orange', 'cherry', 'peach']

### Q24. Sort a list of numbers in descending order.

In [65]:
list=[44,17,80,3,33]
list.sort(reverse = True)
print(list)

[80, 44, 33, 17, 3]

### Q25. Find the maximum and minimum values in a list.

In [72]:
print(max(list))
print(min(list))

80
3

### Q26. Count how many times a value appears in a list.

In [86]:
marks=['100','70','44','70','30']
print(marks.count('70'))

2

### Q27. Check if a specific value exists in a list.

In [89]:
marks=[100,70,44,70,30]

check = 100

if check in marks:
    print('yes')
else:
    print('no')

yes

### Q28. Reverse a list without using reverse() function.

In [98]:
marks=[100,70,44,70,30]
r = marks[::-1]
print(r)

[30, 70, 44, 70, 100]

### Q29. Make a copy of a list and modify the copy only.

In [ ]:
marks=[100,70,44,70,30]

copied_list= marks.copy()

copied_list.append(70)

print(copied_list)

[100, 70, 44, 70, 30, 70]

### Q30. Use slicing to get the first 3 items of a list.

In [106]:
marks=[100,70,44,70,30]
slinc=marks[:3]
print(slinc)

[100, 70, 44]

### Q31. Create a tuple with 4 elements and print its length.

In [110]:
t=(30,50,70,44)
print(len(t))

4

### Q32. Access the last element of a tuple.

In [111]:
t=(30,50,70,44)
last=t[-1]
print(last)

44

### Q33. Convert a tuple into a list.

In [1]:
r = (1,2,3,7,8)
a = list(r)
print(a)

[1, 2, 3, 7, 8]

### Q34. Convert a list into a tuple.

In [116]:
x = [1,2,3,7,8]
y = tuple(x)
print(y)

(1, 2, 3, 7, 8)

### Q35. Check if a value exists in a tuple.

In [119]:
t=(30,50,70,44)
check = 50
if check in t:
    print('yes')
else:
    print('no')

yes

### Q36. Concatenate two tuples.

In [123]:
s = (5,1,6)
d = (7,8,9)
q = s + d
print(q)

(5, 1, 6, 7, 8, 9)

### Q37. Repeat a tuple 3 times.

In [121]:
t=(30,50,70,44)
for i in range(3):
    print(t)

(30, 50, 70, 44)
(30, 50, 70, 44)
(30, 50, 70, 44)

### Q38. Find the index of an element in a tuple.

In [122]:
t=(30,50,70,44)
t.index(70)

2

### Q39. Use tuple unpacking to assign values to variables.

In [133]:
t = ('baraa', 21,'cairo')
t
k, v, z = ('baraa', 21,'cairo')
print(k,v,z)

baraa 21 cairo

### Q40. Create a nested list and access an inner element.

In [3]:
n = [[10,12,11],[17,8,9]]
a = n[1][2]
print(a)

9

### Q41. Create a set of 5 unique colors.

In [134]:
color = {'red','yellow','green','blue','orange'}
print(color)

{'blue', 'yellow', 'green', 'red', 'orange'}

### Q42. Add a new color to the set.

In [135]:
color.add('brown')
color

{'blue', 'brown', 'green', 'orange', 'red', 'yellow'}

### Q43. Remove an item from the set using `remove()`.

In [136]:
color.remove('blue')
color

{'brown', 'green', 'orange', 'red', 'yellow'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [137]:
color.discard('pink')
color

{'brown', 'green', 'orange', 'red', 'yellow'}

### Q45. Create a set from a list with duplicate values.

In [138]:
color = ['red','yellow','green','blue','orange','yellow']

w = set(color)

print(w)

{'blue', 'yellow', 'red', 'green', 'orange'}

### Q46. Find the union of two sets.

In [139]:
s1 = {9,8,7}
s2 = {4,9,5}
u = s1.union(s2)
print(u)

{4, 5, 7, 8, 9}

### Q47. Find the intersection of two sets.

In [142]:
s1 = {9,8,7}
s2 = {4,9,5}
sec = s1.intersection(s2)
print(sec)

{9}

### Q48. Find the difference between two sets.

In [143]:
s1 = {9,8,7}
s2 = {4,9,5}
dif = s2.difference(s1)
print(dif)

{4, 5}

### Q49. Check if a set is a subset of another set.

In [144]:
s1 = {9,8,7}
s2 = {4,9,5}
s2.issubset(s1)

False

### Q50. Check if two sets are disjoint.

In [147]:
s1 = {9,8,7}
s2 = {4,9,5}
s2.isdisjoint(s1)

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [150]:
data = {'name':'baraa', 'age':21, 'city':'cairo'}
print(data)

{'name': 'baraa', 'age': 21, 'city': 'cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [151]:
data['skills'] = 'AI', 'DS', 'ML'
print(data)

{'name': 'baraa', 'age': 21, 'city': 'cairo', 'skills': ('AI', 'DS', 'ML')}

### Q53. Update the value of an existing key in the dictionary.

In [154]:
data.update({'age':'20'})
data

{'name': 'baraa', 'age': '20', 'city': 'cairo', 'skills': ('AI', 'DS', 'ML')}

### Q54. Remove a key from the dictionary using `pop()`.

In [155]:
data.pop('city')
print(data)

{'name': 'baraa', 'age': '20', 'skills': ('AI', 'DS', 'ML')}

### Q55. Check if a key exists in the dictionary.

In [ ]:
data = {'name':'baraa', 'age':21, 'city':'cairo'}

chek = 'skills'

if check in data:
    print('yes')
else:
    print('no')

no

### Q56. Loop through a dictionary and print all keys and values.

In [177]:
data = {'name':'baraa', 'age':21, 'city':'cairo', 'skills':['AI', 'DS', 'ML']}

for key in data.items():
    print(key)

('name', 'baraa')
('age', 21)
('city', 'cairo')
('skills', ['AI', 'DS', 'ML'])

### Q57. Get all keys from a dictionary using `keys()`.

In [178]:
data.keys()

dict_keys(['name', 'age', 'city', 'skills'])

### Q58. Get all values from a dictionary using `values()`.

In [179]:
data.values()

dict_values(['baraa', 21, 'cairo', ['AI', 'DS', 'ML']])

### Q59. Get all key-value pairs using `items()`.

In [180]:
data.items()

dict_items([('name', 'baraa'), ('age', 21), ('city', 'cairo'), ('skills', ['AI', 'DS', 'ML'])])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [182]:
key = ['name','age','city']
value = ['baraa',21,'cairo']
dic = dict(zip(key,value))

print(dic)

{'name': 'baraa', 'age': 21, 'city': 'cairo'}